[[!meta title="Welcome to Tails!"]]

[[!meta stylesheet="home" rel="stylesheet" title=""]]

[[!meta robots="noindex"]]

[[!meta script="home"]]

<div id="tor_check">
<a href="https://tails.boum.org/install/check/">
[[!img "lib/onion.png" link="no"]]
<!-- Note for translators: You can use <span class="twolines"> if your
translation of the label below is long and gets split into two lines. -->
<span>Tor check</span>
</a>
</div>

<a id="donate" class="random-message" href="https://tails.boum.org/donate?r=h" data-display-probability="0.1">

<p>Tails needs donations from users like you.<br/>
But, not everyone can donate. When you donate,
you are offering to many others who need it, this precious tool that is
Tails.</p>

<p class="donate-button">Donate</p>

</a>

[[!inline pages="news" raw="yes" sort="age"]]
